{% extends 'base.html' %}

{% block content %}
{% if not has_program %}
<div class="container shadow-sm p-2 mt-5">
    <h4 class="bg-danger m-3 text-white p-2">Ошибка! неизвестная программа для записи</h4>
</div>
{% endif %}
{% if not profile_state %}
<div class="container shadow-sm p-2 mt-5">
    <h4 class="bg-danger m-3 text-white p-2">Ошибка! Вы не заполнили все обязательные поля</h4>
</div>
{% endif %}
<div class="content container mt-5 p-5 m-3 shadow">
    <h2>Анкета</h2>
    <h4>Запись на программу &laquo;{{ program }}&raquo;</h4>
    <form method="post" class="post-form p-3" enctype=multipart/form-data>{% csrf_token %}
        {% if form.subject.errors %}
        <ol role="alertdialog">
            {% for error in form.subject.errors %}
            <li role="alert"><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        {% for field in form %}
        <div class="fieldWrapper form-group" aria-required='true'>
            {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
            {{ field }}
<!--            {% if field.id_for_label == "id_series" or field.id_for_label == "id_number" or field.id_for_label == "id_issued_by" or field.id_for_label == "id_unit_code" or field.id_for_label == "id_issue_date" %}-->
<!--            <div class="shadow-sm">-->
<!--                <h4>Паспортные данные:</h4>-->
<!--                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}-->
<!--                {{ field }}-->
<!--            </div>-->
<!--            {% endif %}-->
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="supplemental-link mt-5 mb-5">
            <a href="https://courses.openedu.urfu.ru/privacy">Ознакомьтесь с политикой конфиденциальности</a>
        </div>
        <input type="submit" value="Далее" class="shadow btn btn-success" style="float: right;"/>
    </form>
</div>
{% endblock %}