{% extends 'base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-default" href="{% url 'profile_edit' username=profile.username %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            {% for item in profile %}
                <h1>{{ item.username }}</h1>
                <p>{{ item.first_name }}</p>
                <p>{{ item.last_name }}</p>
                <p>{{ item.second_name }}</p>
                <p>{{ item.city }}</p>
                <p>{{ item.series }}</p>
                <p>{{ item.number }}</p>
                <p>{{ item.phone }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<!--        {% if post.published_date %}-->
<!--            <div class="date">-->
<!--                {{ post.published_date }}-->
<!--            </div>-->
<!--        {% endif %}-->
{% endblock %}