{% extends 'base.html' %}
{% block content %}
{{ has_enroll_program }}
{{ program }}
{% if has_enroll_program and program %}
<div class="container shadow-sm p-2 mt-2">
    <h4 class="text-muted p-2">Предупреждение! Вы уже записаны на данную программу</h4>
    <h4 class="text-muted p-2">Программа: {{ program }}</h4>
</div>
{% else %}
<div class="container shadow-sm p-2 mt-2">
    <h4 class="text-muted p-2">Предупреждение! Вы не записываетесь на программу</h4>
</div>
{% endif %}

<div class="content container p-5 m-5 shadow">
    <h4>Проверьте данные:</h4>
    <ul class="list-group list-group-flush">
        {% for item in profile %}
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Логин</li>
            <li class="list-group-item flex-fill">{{ item.user.username }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">E-mail</li>
            <li class="list-group-item flex-fill">{{ item.user.email }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">ФИО</li>
            <li class="list-group-item flex-fill">{{ item.last_name }} {{ item.first_name }} {{ item.second_name }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Дата рождения</li>
            <li class="list-group-item flex-fill">{{ item.birth_date }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Страна</li>
            <li class="list-group-item flex-fill">{{ item.country }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Город</li>
            <li class="list-group-item flex-fill">{{ item.city }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Адрес регистрации</li>
            <li class="list-group-item flex-fill">{{ item.address_register }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Серия и номер паспорта</li>
            <li class="list-group-item flex-fill">{{ item.series }} {{ item.number }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Кем выдан</li>
            <li class="list-group-item flex-fill">{{ item.issued_by }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Код подразделения</li>
            <li class="list-group-item flex-fill">{{ item.unit_code }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Дата выдачи</li>
            <li class="list-group-item flex-fill">{{ item.issue_date }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Телефон</li>
            <li class="list-group-item flex-fill">{{ item.phone }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Место работы</li>
            <li class="list-group-item flex-fill">{{ item.job }}</li>
        </ul>
        <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item flex-fill">Должность</li>
            <li class="list-group-item flex-fill">{{ item.position }}</li>
        </ul>
        {% endfor %}
    </ul>
    <div class="d-flex row justify-content-between m-3 p-2">
        <a class="shadow btn btn-primary" href="{% url 'itoo:verified_profile:profile_edit' %}">
            <span>Редактировать</span>
        </a>
        <form method="post" class="post-form" enctype=multipart/form-data>{% csrf_token %}
            <input type="submit" value="Всё верно" class="shadow btn btn-success"/>
        </form>
    </div>
</div>
<!--        {% if post.published_date %}-->
<!--            <div class="date">-->
<!--                {{ post.published_date }}-->
<!--            </div>-->
<!--        {% endif %}-->
{% endblock %}