{% extends 'base.html' %}

{% block content %}
{% if not has_program %}
<div class="container shadow-sm p-2 mt-5">
    <h4 class="bg-danger m-3 text-white p-2">Ошибка! неизвестная программа для записи</h4>
</div>
{% endif %}
{% if not profile_state %}
<div class="container shadow-sm p-2 mt-5">
    <h4 class="bg-danger m-3 text-white p-2">Ошибка! Вы не заполнили все обязательные поля</h4>
</div>
{% endif %}
<div class="row">
    <div class="col container" id="form">
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}

            <!-- ЛИЧНЫЕ ДАННЫЕ -->
            <div class="subsection">
                <div class="subsection">
                    <!--<h2>ЭТО НОВЫЙ ШАБЛОН</h2>-->
                    <h2>Анкета</h2>
                    <h5>Запись на программу {{ program }}</h5>
                </div>
                <h2>Личные данные:</h2>

<!--                {{form.prefered_org}}-->

<!--                <p>-->

<!--                <select class="form-control" id="id_customer" name="customer">-->
<!--                    <option value=""> Организация не присутствует в списке? </option>-->
<!--                {% for org in profile_organization %}-->
<!--&lt;!&ndash;                    <option value="{{ x }}"{% if form.fields.customer.value == x %} selected{% endif %}>{{ y }}</option>&ndash;&gt;-->
<!--                    <option value="{{ org.id }}">{{ org.title }}</option>-->
<!--                {% endfor %}-->
<!--                </select>-->
<!--                </p>-->

                <p><label for="id_last_name">Фамилия<span class="red">*</span>:</label>
                    {{ form.last_name }}</p>
                <p><label for="id_first_name">Имя<span class="red">*</span>:</label>
                    {{ form.first_name }}</p>
                <p><label for="id_second_name">Отчество<span class="red">*</span>:</label>
                    {{ form.second_name }}</p>
                <p><label for="id_sex">Пол<span class="red">*</span>:</label>
                    {{ form.sex }}
                </p>
                <p><label for="id_leader_id">Leader ID<span class="red">*</span>. Пройдите по ссылке <a
                        href="https://leader-id.ru/" target="_blank">https://leader-id.ru/</a>, зарегистрируйтесь (если
                    еще не зарегистрированы) и впишите в поле ваш номер ID.</label>
                    {{ form.leader_id }}</p>
                <p><label for="id_city">Город<span class="red">*</span>:</label>
                    {{ form.city }}</p>
                <p><label for="id_country">Гражданство<span class="red">*</span>:</label>
                    {{ form.country }}</p>
                <p><label for="id_birth_date">Дата рождения<span class="red">*</span>:</label>
                    {{ form.birth_date }}</p>
                <p><label for="id_birth_place">Место рождения<span class="red">*</span>:</label>
                    {{ form.birth_place }}</p>
                <p><label for="id_address_living">Адрес фактического проживания<span class="red">*</span>:</label>
                    {{ form.address_living }}</p>

                <p><label for="id_job">Место работы<span class="red">*</span>:</label>
                    {{ form.job }}</p>

                <p><label for="id_prefered_org">Выберите Ваше предприятие из списка, если Вашего предприятия нет в приведенном списке выберите «Другое»:</label>
                    {{ form.prefered_org }}</p>

                <p><label for="id_job_address">Адрес работы<span class="red">*</span>:</label>
                    {{ form.job_address }}</p>
                <p><label for="id_position">Должность<span class="red">*</span>:</label>
                    {{ form.position }}</p>
                <p><label for="id_phone">Телефон<span class="red">*</span>:</label>
                    {{ form.phone }}</p>
                <p><label for="id_add_email">E-mail<span class="red">*</span>:</label>
                    {{ form.add_email }}</p>

            </div>

            <!-- ПАСПОРТНЫЕ ДАННЫЕ -->

            <div class="subsection">
                <h2>Паспортные данные:</h2>
                <p><label for="id_series">Серия<span class="red">*</span>:</label>
                    {{ form.series }}</p>
                <p><label for="id_number">Номер<span class="red">*</span>:</label>
                    {{ form.number }}
                </p>
                <p><label for="id_issued_by">Кем выдан<span class="red">*</span>:</label>
                    {{ form.issued_by }}</p>
                <p><label for="id_unit_code">Код подразделения<span class="red">*</span>:</label>
                    {{ form.unit_code }}
                </p>
                <p><label for="id_issue_date">Дата выдачи<span class="red">*</span>:</label>
                    {{ form.issue_date }}
                </p>
                <p><label for="id_address_register">Адрес регистрации<span class="red">*</span>:</label>
                    {{ form.address_register }}
                </p>

                <p><label for="id_SNILS">Номер СНИЛС<span class="red">*</span>:</label>
                    {{ form.SNILS }}</p>
            </div>

            <!-- ОБРАЗОВАНИЕ -->

            <div class="subsection">
                <h2>Образование:</h2>
                <p><label for="id_education_level">Уровень базового образования<span class="red">*</span>:</label>
                    <!--{{ form.education_level }}-->

                    <select class="form-control" id="id_education_level" name="education_level" required="true">
                        <option value="">---------</option>
                        <option value="H" selected="selected">Высшее</option>
                    </select>
                </p>
                <p><label for="id_series_diploma">Серия документа об образовании<span class="red">*</span>:</label>
                    {{ form.series_diploma }}
                </p>
                <p><label for="id_number_diploma">Номер документа об образовании<span class="red">*</span>:</label>
                    {{ form.number_diploma }}
                </p>
                <p><label for="id_edu_organization">Образовательное учреждение<span class="red">*</span>:</label>
                    {{ form.edu_organization }}
                </p>
                <p><label for="id_specialty">Специальность (направление подготовки)<span class="red">*</span>:</label>
                    {{ form.specialty }}
                </p>
                <p><label for="id_year_of_ending">Год окончания<span class="red">*</span>:</label>
                    {{ form.year_of_ending }}
                </p>
            </div>

            <div class="subsection" style="height: 150px;font-size: 15px;">
                <p><label for="id_terms">Я ознакомился с <a target="_blank"
                                                            href="https://ozi.urfu.ru/fileadmin/user_upload/site_15891/politika_01.pdf">политикой
                    обработки
                    персональных данных</a> и <a target="_blank"
                                                 href="https://openedu.urfu.ru/files/law/agreement.html">согласен на
                    обработку персональных данных</a><span class="red">*</span></label>
                    <input checked="checked" required id="id_terms" name="terms" type="checkbox">

                </p>
                <input value="Отправить" type="submit">
            </div>

            <div class="subsection" style="text-align: center;height: 63px;">
                <p>По всем вопросам обращаться: +7 (922) 149-99-14, olya.vozisova@gmail.com</p>
            </div>

        </form>
    </div>
</div>

<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", () => {-->
<!--        // flatpickr.localize(flatpickr.l10ns.ru);-->
<!--        // flatpickr("#id_birth_date", {});-->
<!--        // flatpickr("#id_issue_date", {});-->

<!--        let id_leader_id_el = document.getElementById('id_leader_id');-->
<!--        let leader_id_mask = IMask(id_leader_id_el, {mask: '{ID}[0000000000]'});-->


<!--        var element = document.getElementById('id_phone');-->
<!--        var maskOptions = {-->
<!--            mask: '+{7}(000)000-00-00'-->
<!--        };-->
<!--        var mask = IMask(element, maskOptions);-->
<!--    });-->
<!--</script>-->



<style>
    input[type=email], input[type=tel], input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }

    /* Style the label to display next to the inputs */
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    /* Style the submit button */
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    /* Style the container */
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    /* Floating column for labels: 25% width */
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    /* Floating column for inputs: 75% width */
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }

    .errorlist {
        color: red;
        font-size: 75%;
        list-style: none;
    }

    .subsection {
        background: #ffffff;
        border: 1px #e5e5e5 solid;
        box-shadow: 0 0 1px #e5e5e5;
        padding: 12px 15px;
        margin-bottom: 2em;
    }

    .subsection:last-child {
        padding-bottom: 3em;
    }

    .col#form h2 {
        text-align: center;
    }

    .col#form p {
        width: 810px;
        display: block;
        margin: 10px auto;
    }

    .col#form p label {
        display: inline-block;
    / / width: 350 px
    }

    .col#form p input, .col#form p select {
        display: inline-block;
        width: 800px;
    }

    .col#form p input[type="checkbox"] {
        width: 20px;
        height: 15px;
    }

    .col#form p input[type="submit"] {
        display: block;
        margin: 20px auto 10px;
        height: 40px;
    }

    .col#form p input[type="submit"][disabled] {

    }

    .article ul li {
        margin-top: 0px;
    }

    .red {
        color: red;
    }
</style>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter47486308 = new Ya.Metrika2({
                    id: 47486308,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    ut: "noindex"
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/47486308?ut=noindex" style="position:absolute; left:-9999px;" alt=""/>
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->
{% endblock %}
